<style></style>
<div id="direct cash out" style="display:none" #direct>

  <div class="container">
    <p class="c12"><span
      class="c13">ATTESTATION D&rsquo;ACHAT D&rsquo;OBJET DE SECONDE MAIN &Agrave; UN PARTICULIER</span>
    </p>
    <hr/>
    <p class="c3"><span class="c9">&nbsp; &nbsp; Room Group SAS</span></p>
    <p class="c3"><span class="c9">&nbsp; &nbsp; 22ter Boulevard du G&eacute;n&eacute;ral Leclerc </span></p>
    <p class="c3"><span class="c9">&nbsp; &nbsp; Neuilly Sur Seine, 92200</span></p>
    <p class="c3"><span class="c9">&nbsp; &nbsp; RCS Nanterre: 837 528 470</span></p>
    <p class="c3"><span class="c9">&nbsp; &nbsp; TVA: FR 48 837 528 470</span></p>

    <hr>
    <p class="c1">
      <ng-container *ngIf="fiche['order_number']">Numero de commande {{fiche['order_number']}}</ng-container>
      <br/>Type de transaction: {{getTransaction(fiche)}}
      <span class="c9"></span></p><p class="c1">
    <span class="c9"></span></p>
    <p class="c1"><span class="c4"></span></p><a id="t.0d6937c497b1bacbc3c3a67884f7bb83f5c29b08"></a><a id="t.0"></a>
    <table class="c11">
      <tbody>
      <tr class="c20">
        <td class="c18" colspan="1" rowspan="1"><p class="c14"><span class="c9">NOM / PR&Eacute;NOM :</span></p></td>
        <td class="c15" colspan="3" rowspan="1"><p class="c2"><span
          class="c4"> {{fiche['prenom']}} {{fiche['nom']}}</span></p></td>
      </tr>
      <tr class="c21">
        <td class="c18" colspan="1" rowspan="1"><p class="c14"><span class="c9">MOD&Egrave;LE : &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; (Description ) &nbsp; </span>
        </p></td>
        <td class="c15" colspan="3" rowspan="1"><p class="c2"><span
          class="c4"> {{fiche['modele']}} {{fiche['size']}}</span></p></td>
      </tr>
      <tr class="c0">
        <td class="c18" colspan="1" rowspan="1"><p class="c14"><span class="c9">PRIX:</span></p></td>
        <td class="c19" colspan="1" rowspan="1"><p class="c2"><span class="c4">{{fiche['prix']}} euros</span></p></td>
        <td class="c10" colspan="1" rowspan="1"><p class="c6"><span class="c22">DATE</span><span class="c4">:</span></p>
        </td>
        <td class="c5" colspan="1" rowspan="1"><p class="c2"><span class="c4">{{fiche['date']| date:'long'}}</span></p>
        </td>
      </tr>
      <tr class="c8">
        <td class="c18" colspan="1" rowspan="1"><p class="c14"><span class="c9">MOYEN DE PAIEMENT :</span></p></td>
        <td class="c15" colspan="3" rowspan="1"><p class="c14"><span class="c4">{{fiche['payement']}} <br/>
          {{fiche['mail_paypal'] }} {{fiche['beneficiaire'] }}<br/>
          {{fiche['iban'] }}<br/>
          {{fiche['mail_virt']}}</span>
        </p></td>
      </tr>
      <tr class="c8">
        <td class="c18" colspan="1" rowspan="1"><p class="c14"><span class="c9">Numero de Carte d'identite</span></p>
        </td>
        <td class="c15" colspan="3" rowspan="1"><p class="c14"><span class="c4">{{fiche['id']}} {{fiche['id_type']}} {{fiche['id_nat']}}</span>
        </p></td>
      </tr>
      </tbody>
    </table>
    <div *ngIf="fiche['valid']">
      <p class="c1"><span class="c4"></span></p>
      <p class="c3"><span class="c4">Je certifie que ce produit est authentique, qu&rsquo;il n&#39;a pas &eacute;t&eacute; vol&eacute;, escroqu&eacute; ou emprunt&eacute;. Je me tiens responsable de l&rsquo;authenticit&eacute;, de la conformit&eacute;, de la provenance et que l&rsquo;objet ne comporte pas de d&eacute;faut.</span>
      </p>
      <p class="c3"><span class="c4">Je soussign&eacute; {{fiche['prenom']}} {{fiche['nom']}} atteste sur l&rsquo;honneur la vente de cet objet et la v&eacute;racit&eacute; de cette d&eacute;claration.</span>
      </p>
      <p class="c3"><span
        class="c7">J&#39;ai connaissance des sanctions p&eacute;nales encourues par une fausse attestation. </span><span
        class="c4">&nbsp; &nbsp;</span></p>
      <p class="c1"><span class="c4"></span></p>
      <h5 class="c3"><span class="c17">{{fiche['prenom']}} {{fiche['nom']}}</span></h5>
    </div>
    <p class="c1"><span class="c4"></span></p>
    <p class="c1"><span class="c4"></span></p>
    <p class="c1"><span class="c4"></span></p>
    <p class="c1"><span class="c4"></span></p>
    <p class="c1"><span class="c4"></span></p>
    <p class="c1"><span class="c4"></span></p>
    <p class="c1"><span class="c4"></span></p>
    <p class="c3"><span>.</span></p>
  </div>
</div>
<div id="consignment" style="display:none" #consignment>
  <div class="container">
    <p class="c12"><span class="c13">ATTESTATION DE DÉPÔT VENTE</span>
    </p>
    <hr/>
    <p class="c3"><span class="c9">&nbsp; &nbsp; Room Group SAS</span></p>
    <p class="c3"><span class="c9">&nbsp; &nbsp; 22ter Boulevard du G&eacute;n&eacute;ral Leclerc </span></p>
    <p class="c3"><span class="c9">&nbsp; &nbsp; Neuilly Sur Seine, 92200</span></p>
    <p class="c3"><span class="c9">&nbsp; &nbsp; RCS Nanterre: 837 528 470</span></p>
    <p class="c3"><span class="c9">&nbsp; &nbsp; TVA: FR 48 837 528 470</span></p>


    <hr>
    <p class="c1">
      <ng-container *ngIf="fiche['order_number']">Numero de commande {{fiche['order_number']}}</ng-container>
      <span class="c9"></span></p>
    <p class="c1"><span class="c4"></span></p><a id="t.0d6937c497b1bacbc3c3a67884f7bb83f5c29b08"></a><a id="t.0"></a>
    <table class="c11">
      <tbody>
      <tr class="c20">
        <td class="c18" colspan="1" rowspan="1"><p class="c14"><span class="c9">NOM / PR&Eacute;NOM :</span></p></td>
        <td class="c15" colspan="3" rowspan="1"><p class="c2"><span
          class="c4"> {{fiche['prenom']}} {{fiche['nom']}}</span></p></td>
      </tr>
      <tr class="c21">
        <td class="c18" colspan="1" rowspan="1"><p class="c14"><span class="c9">MOD&Egrave;LE : &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; (Description ) &nbsp; </span>
        </p></td>
        <td class="c15" colspan="3" rowspan="1"><p class="c2"><span
          class="c4">  {{fiche['modele']}} {{fiche['size']}}</span></p></td>
      </tr>
      <tr class="c0">
        <td class="c18" colspan="1" rowspan="1"><p class="c14"><span class="c9">PRIX:</span></p></td>
        <td class="c19" colspan="1" rowspan="1"><p class="c2"><span class="c4">{{fiche['prix']}} euros</span></p></td>
        <td class="c10" colspan="1" rowspan="1"><p class="c6"><span class="c22">DATE</span><span class="c4">:</span></p>
        </td>
        <td class="c5" colspan="1" rowspan="1"><p class="c2"><span class="c4">{{fiche['date'] | date:'long'}}</span></p>
        </td>
      </tr>
      <tr class="c8">
        <td class="c18" colspan="1" rowspan="1"><p class="c14"><span class="c9">MOYEN DE PAIEMENT :</span></p></td>
        <td class="c15" colspan="3" rowspan="1"><p class="c14"><span class="c4">{{fiche['payement']}}<br/> {{fiche['mail_paypal'] }} {{fiche['beneficiaire'] }} <br/>
          {{fiche['iban'] }}<br/>
          {{fiche['mail_virt']}}</span>
        </p></td>
      </tr>
      <tr class="c8">
        <td class="c18" colspan="1" rowspan="1"><p class="c14"><span class="c9">Numero de Carte d'identite</span></p>
        </td>
        <td class="c15" colspan="3" rowspan="1"><p class="c14"><span class="c4">{{fiche['id']}} {{fiche['id_type']}} {{fiche['id_nat']}} </span>
        </p></td>
      </tr>
      </tbody>
    </table>
    <div *ngIf="fiche['valid']">
      <p class="c1"><span class="c4"></span></p>
      <p class="c3"><span class="c4">Je certifie que ce produit est authentique, qu&rsquo;il n&#39;a pas &eacute;t&eacute; vol&eacute;, escroqu&eacute; ou emprunt&eacute;. Je me tiens responsable de l&rsquo;authenticit&eacute;, de la conformit&eacute;, de la provenance et que l&rsquo;objet ne comporte pas de d&eacute;faut.</span>
      </p>
      <p class="c3"><span class="c4">Je soussign&eacute; {{fiche['prenom']}} {{fiche['nom']}} atteste sur l&rsquo;honneur la vente de cet objet et la v&eacute;racit&eacute; de cette d&eacute;claration.</span>
      </p>
      <p class="c3"><span
        class="c7">J&#39;ai connaissance des sanctions p&eacute;nales encourues par une fausse attestation. </span><span
        class="c4">&nbsp; &nbsp;</span></p>
      <p class="c1"><span class="c4"></span></p>
      <h5 class="c3"><span class="c17">{{fiche['prenom']}} {{fiche['nom']}}</span></h5>
    </div>
    <p class="c1"><span class="c4"></span></p>
    <p class="c1"><span class="c4"></span></p>
    <p class="c1"><span class="c4"></span></p>
    <p class="c1"><span class="c4"></span></p>
    <p class="c1"><span class="c4"></span></p>
    <p class="c1"><span class="c4"></span></p>
    <p class="c1"><span class="c4"></span></p>
    <p class="c3"><span>.</span></p>
  </div>
</div>
<div id="cash receipt" style="display:none" #cr>
  <div class="container">
    <p class="c12"><span class="c13">PREUVE D'ACHAT</span>
    </p>
    <hr/>
    <p class="c3"><span class="c9">&nbsp; &nbsp; Room Group SAS</span></p>
    <p class="c3"><span class="c9">&nbsp; &nbsp; 22ter Boulevard du G&eacute;n&eacute;ral Leclerc </span></p>
    <p class="c3"><span class="c9">&nbsp; &nbsp; Neuilly Sur Seine, 92200</span></p>
    <p class="c3"><span class="c9">&nbsp; &nbsp; RCS Nanterre: 837 528 470</span></p>
    <p class="c3"><span class="c9">&nbsp; &nbsp; TVA: FR 48 837 528 470</span></p>


    <hr>
    <p class="c1">
      <ng-container *ngIf="fiche['order_number']">Numero de commande {{fiche['order_number']}}</ng-container>
      <span class="c9"></span></p>
    <p class="c1"><span class="c4"></span></p><a id="t.0d6937c497b1bacbc3c3a67884f7bb83f5c29b08"></a><a id="t.0"></a>
    <table class="c11">
      <tbody>
      <tr class="c20">
        <td class="c18" colspan="1" rowspan="1"><p class="c14"><span class="c9">NOM / PR&Eacute;NOM :</span></p></td>
        <td class="c15" colspan="3" rowspan="1"><p class="c2"><span
          class="c4"> {{fiche['prenom']}} {{fiche['nom']}}</span></p></td>
      </tr>
      <tr class="c20">
        <td class="c18" colspan="1" rowspan="1"><p class="c14"><span class="c9">MOD&Egrave;LE : &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; (Description ) &nbsp; </span>
        </p></td>
        <td class="c18" colspan="3" rowspan="1"><p class="c2"><span
          class="c4">  {{fiche['modele']}} {{fiche['size']}}</span></p></td>
      </tr>
      <tr class="c0">
        <td class="c18" colspan="1" rowspan="1"><p class="c14"><span class="c9">PRIX:</span></p></td>
        <td class="c19" colspan="1" rowspan="1"><p class="c2"><span class="c4">{{fiche['prix']}} euros</span></p></td>
        <td class="c10" colspan="1" rowspan="1"><p class="c6"><span class="c22">DATE</span><span class="c4">:</span></p>
        </td>
        <td class="c5" colspan="1" rowspan="1"><p class="c2"><span class="c4">{{fiche['date'] | date:'long'}}</span></p>
        </td>
      </tr>
      </tbody>
    </table>
    <img  class="img img-fluid" id="my_img" *ngIf="fiche['receipt_url']" [src]="fiche['receipt_url']" style="margin-top:30px; max-height: 500px;max-width:550px"  crossorigin="Anonymous"/>
    <!--<canvas id="canvas_ins" #canvas_ins height="500px" width="auto"></canvas>-->
    <p class="c1"><span class="c4"></span></p>
    <p class="c1"><span class="c4"></span></p>
    <p class="c1"><span class="c4"></span></p>
    <p class="c1"><span class="c4"></span></p>
    <p class="c1"><span class="c4"></span></p>
    <p class="c1"><span class="c4"></span></p>
    <p class="c1"><span class="c4"></span></p>
    <p class="c3"><span>.</span></p>
  </div>
</div>
<a id="testa" style="display:none">t</a>
