<header id="header" class="header">
  <img id="logo" (click)="_opened=!_opened" class="img img-fluid" src="https://cdn.shopify.com/s/files/1/0006/4353/0817/files/COPROOM_BOXLOGO.png?15616493591463283195">
  <!--<a id="menuToggle" class="menutoggle" (click)="_opened=!_opened"><i class="fa fa-bars"></i></a>-->
  <div class=" page-header float-right">
    <div class="page-title">
      <ol class="breadcrumb text-right hidemob">
        <li style="color:#878787">{{location()[0]}}</li>
        <li class="active">{{location()[1]}}</li>
      </ol>
    </div>
  </div>
  <div class="margin">
    <p style="text-transform: capitalize">{{firstname}} {{lastname}} <span [class]="'connection '+isConnected " ></span> </p>
  </div>
</header>
<ng-sidebar-container>

  <!-- A sidebar -->
  <ng-sidebar [(opened)]="_opened" [mode]="mode" [sidebarClass]="'left-panel-2'" [dock]="dock" [dockedSize]="'83px'" [showBackdrop]="deviceService.isMobile()" [closeOnClickBackdrop]="deviceService.isMobile()">
    <nav class="navbar navbar-expand-sm navbar-default" *ngIf="_opened; else closed">
      <div class="cross-container" (click)="_opened=false"><i class="fas fa-times"></i></div>
      <div id="main-menu" class="main-menu collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="">
            <a style="  background: linear-gradient(90deg,#a7d5f5,#8abdeb) !important;
  box-shadow: 2px 2px 20px 0px rgba(138,189,235,0.5) !important;padding-left:20px;padding-right:20px;margin-top:30px"class="badge badge-pending" routerLink="/admin/"><b>HOME</b> </a>
          </li>
          <li class="menu-title">Achats</li><!-- /.menu-title -->
          <li class="menu-item-has-children">
            <a  routerLink="/admin/fiche-list"  aria-haspopup="true" aria-expanded="false">
              <i class="menu-icon fas fa-list-alt"></i>
              Fiches et factures</a>

          </li>
          <li class="menu-item-has-children">
            <a  routerLink="/admin/generator/particulier"  aria-haspopup="true" aria-expanded="false">
              <!--<i class="menu-icon fa fa-cogs"></i>-->
              <i class="menu-icon fas fa-file-invoice"></i>
              Générateur de fiches</a>

          </li>
          <!--<li class="menu-item-has-children">-->
            <!--<a  routerLink="/admin/cash-receipt"  aria-haspopup="true" aria-expanded="false">-->
              <!--&lt;!&ndash;<i class="menu-icon fa fa-cogs"></i>&ndash;&gt;-->
              <!--<i class="menu-icon fas fa-receipt"></i>-->
              <!--Import de factures</a>-->

          <!--</li>-->
          <li class="menu-title">Inventaire</li><!-- /.menu-title -->
          <li class="menu-item-has-children">
            <a  routerLink="/admin/inventory/all"  aria-haspopup="true" aria-expanded="false">
              <i class="menu-icon fas fa-list-alt"></i>
              All</a>

          </li>
          <li class="menu-item-has-children">
            <a  routerLink="/admin/inventory/pending"  aria-haspopup="true" aria-expanded="false">
              <!--<i class="menu-icon fa fa-cogs"></i>-->
              <i class="menu-icon fas fa-file-invoice"></i>
              Pending</a>

          </li>
          <li class="menu-item-has-children">
            <a  routerLink="/admin/inventory/stock"  aria-haspopup="true" aria-expanded="false">
              <!--<i class="menu-icon fa fa-cogs"></i>-->
              <i class="menu-icon fas fa-receipt"></i>
              Inventory</a>

          </li>
          <li class="menu-title">Vente</li><!-- /.menu-title -->

          <li class="menu-item-has-children">
            <a  routerLink="/admin/invoices/list"  aria-haspopup="true" aria-expanded="false">
              <!--<i class="menu-icon fa fa-cogs"></i>-->
              <i class="menu-icon fas fa-file-alt"></i>
              Factures</a>

          </li>
          <li class="menu-item-has-children">
            <a  routerLink="/admin/invoices"  aria-haspopup="true" aria-expanded="false">
              <!--<i class="menu-icon fa fa-cogs"></i>-->
              <i class="menu-icon fas fa-file-invoice-dollar"></i>
              Editeur de factures</a>

          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>
    <ng-template #closed>
      <div class="cross-container" (click)="_opened=true">
      <i class="fa fa-angle-double-right"></i>
      </div>

      <div class="closed flex">
        <ul class="closed">
          <li >     <a style="font-size: 36px;" routerLink="/admin/fiche-list">         <i class="menu-icon fas fa-list-alt"></i></a></li>
          <li>  <a routerLink="/admin/generator">              <i class="menu-icon fas fa-file-invoice"></i> </a>
          </li>
          <li> <a routerLink="/admin/cash-receipt"><i class="menu-icon fas fa-receipt"></i> </a></li>
<li><br></li>
          <li>   <a routerLink="/admin/invoices/list" > <i class="menu-icon fas fa-file-alt"></i> </a></li>
          <li> <a routerLink="/admin/invoices"> <i class="menu-icon fas fa-file-invoice-dollar"></i> </a></li>

        </ul>
      </div>
    </ng-template>
  </ng-sidebar>
  <!-- Page content -->
  <div ng-sidebar-content>

    <!--<nav class="navbar navbar-expand-lg navbar-light bg-light">-->
      <!--<a class="navbar-brand" href="#">Coproom</a>-->
      <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
        <!--<span class="navbar-toggler-icon"></span>-->
      <!--</button>-->
      <!--<div class="collapse navbar-collapse" id="navbarSupportedContent">-->
        <!--<ul class="navbar-nav mr-auto">-->
          <!--<li class="nav-item active">-->
            <!--<a class="nav-link" routerLink="/admin/fiche-list">Fiches</a>-->
          <!--</li>-->
          <!--<li class="nav-item">-->
            <!--<a class="nav-link" routerLink="/admin/generator">Generateur</a>-->
          <!--</li>-->
          <!--<li class="nav-item">-->
            <!--<a class="nav-link" routerLink="/admin/invoices">Invoice generator</a>-->
          <!--</li><li class="nav-item">-->
          <!--<a class="nav-link" routerLink="/admin/invoices/list">Invoice List</a>-->
        <!--</li><li class="nav-item">-->
          <!--<a class="nav-link" routerLink="/admin/cash-receipt">Cash Receipt</a>-->
        <!--</li>-->
        <!--</ul>-->
      <!--</div>-->
    <!--</nav>-->
    <div class="content-bg">

      <router-outlet></router-outlet>

    </div>
  </div>

</ng-sidebar-container>
