input {
  border:0 !important;
  border-bottom: 2px solid #eee !important;

  border-radius: 0px !important;
}

label {
  font-size: 0.8rem;

  color: #84848484;
}

.formStep {

  box-shadow: 0px 0px 50px rgba(100,100,100,.1);

  padding: 30px;

  padding-top: 40px;

  margin: 40px 0px;

  position: relative;
}

.formStepLabel {
  position: absolute;

  top: -20px;

  padding: 10px 20px;

  background-color: #2f2f2f;


  color: white;

  font-family: Futura;

  font-weight: bold;
}

.btn {
  border: 1px solid #2f2f2f;

  border-radius: 0px;

  background-color: white;

  color: #2f2f2f;

  transition: 0.3s ease-in-out;
}

.btn:hover{
  background-color:  #2f2f2f;

  color: white;

}

label.form-check-label{
  color:black !important;
  font-size: 1em;
}

input.ng-valid {
  border-left: 3px solid #00e461 !important;
}

input.ng-touched.ng-invalid{
  border-left: 3px solid #9a0a07 !important;

}

select{
  border-radius: 0px!important;
  border:0;
}

.footer{
  background-color: white;
}

.btn:disabled{
  opacity: 0.3;
}

.btn:disabled:hover{
  background-color:  white;

  color: #2f2f2f;

}

.unfilled {
  margin-left: 2rem;

  color: #9a0a07;
}

.sender {display:flex}

svg {
  width: 100px;
  display: block;
  margin: 40px auto 0;
}
.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  stroke: #848484;

}
.path.circle {
  -webkit-animation: dash 2s ease-in-out;
  animation: dash 2s ease-in-out;
  stroke: #848484;
}
.path.line {
  stroke-dashoffset: 1000;
  -webkit-animation: dash  2s 0.6s ease-in-out forwards;
  animation: dash 2s 0.6s ease-in-out forwards;
  stroke: #848484;
}
.path.check {
  stroke-dashoffset: -100;
  -webkit-animation: dash-check  2s 0.6s ease-in-out forwards;
  animation: dash-check 2s 0.6s ease-in-out forwards;
  stroke: #848484;

}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}
@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}

.btn-full {
  color:white;
  background-color: #2f2f2f;
}

.btn-full:hover {
  color:white;
  background-color: black;
  border-color: black;

}

.results-wrapper {
  min-height: 100vh;
}


::ng-deep .nsm-content {
   border-radius: 0px !important;
}

.opacitor {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.87);
  padding: 5% 2%;
  text-transform: uppercase;
  color: #7acef8;
  font-size: 30px;
  font-weight: bolder;
  font-family: 'Futura';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 900000;
  display: flex;
}



.lds-facebook {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  margin: auto;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 6px;
  width: 13px;
  background: black;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;

}
.lds-facebook div:nth-child(1) {
  left: 6px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 26px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 45px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 6px;
    height: 51px;
  }
  50%, 100% {
    top: 19px;
    height: 26px;
  }
}


.overlay {
  background-color: white;
}

select {
  border-radius: 0 !important;
  border: 2px solid #eee !important;
}

.cross-wrapper {
  position: absolute;
  right:30px;

}

@media (min-width: 320px) and (max-width: 480px) {
  .cross-wrapper {
    right:0;

  }
}
@media (min-width: 375px) and (max-width: 767px)  {
  .cross-wrapper {
    right:0;

  }
}

#shippingGenerator label{
  display:none !important
}

#shippingGenerator input, #shippingGenerator select {
  margin-top:20px;
}

app-translator {
  position: fixed;
  top: 30px;
  left:30px;
  z-index:10;
}

.btn-select {
  border: none;
  font-size: large;
  text-align: center;
  margin: auto;
  display: -webkit-box;
  padding: 10px 20px;
  color: black;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 2px;
  background: white;
  white-space: normal;
  border: 1px solid rgba(150, 150, 150, 0.3)

}

.btn-select.is-active {
  color: white;
  background: black;
}

.selector-col {
  margin:5px
}

.btn-col {
  border: none;
  font-size: large;
  text-align: center;
  /* margin: auto; */
  display: -webkit-box;
  /* padding: 10px 20px; */
  /*border-radius: 30px;*/
  white-space: normal;
}

.transac-badge {
  background-color: #FFD60A;
  padding: 3px 10px;
  font-weight: bold;
  color: white;
  border-radius: 20px;
  border: 3px solid #D5D5D5;
  line-height: 0;
  margin: 10px 0;
}

small {
  font-style: italic ;
}
