 <!-- /.card -->

<div class="container">
    <div class="card">
      <div class="card-body">
        <h1 class="box-title big">Achats </h1>
      </div> <!-- /.table-stats -->
    </div>
<div class="row">
  <div class="col-md-6">
    <div class="card card-an" routerLink="/admin/fiche-list">
      <div class="card-body">
        <h4 class="box-title">Fiches & factures </h4>

        <p>Base de donnée qui comprend tous nos justificatifs d’achat (particuliers qui remplissent le formulaire ou factures/tickets de caisse de boutiques/pros via l’outil d’import de factures)
        </p>
      </div> <!-- /.table-stats -->
    </div>
  </div> <!-- /.card -->
   <!-- /.card -->
  <div class="col-md-6">
    <div class="card card-an" routerLink="/admin/cash-receipt" >
      <div class="card-body">
        <h4 class="box-title">Import de factures</h4>

        <p>Outil qui permet d'intégrer des factures ou tickets de caisse (lorsqu'on achète des items à une boutique ou à un vendeur pro) dans notre base de donnée de justificatifs d’achat

        </p>
      </div> <!-- /.table-stats -->
    </div>
  </div>
  <div class="col-md-12">
    <div class="card card-an" routerLink="/admin/generator">
      <div class="card-body">
        <h4 class="box-title">Generateur de fiches</h4>

        <p>Outil qui permet d’envoyer un lien redirigeant avec une fiche d’achat à un particulier pré-remplie avec les bonnes informations du deal: cela évite des erreurs de nom d’item, de taille, de prix sur la fiche que les vendeurs particuliers remplissent

        </p>
      </div> <!-- /.table-stats -->
    </div>
  </div>
</div>
    <div class="card">
      <div class="card-body">
        <h1 class="box-title big">Vente </h1>
      </div> <!-- /.table-stats -->
    </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card card-an"  routerLink="/admin/invoices/list">
        <div class="card-body">
          <h4 class="box-title">Factures</h4>

          <p>Base de donnée qui comprend tous nos justificatifs de vente
          </p>
        </div> <!-- /.table-stats -->
      </div>
    </div> <!-- /.card -->
    <div class="col-md-6">
      <div class="card card-an" routerLink="/admin/invoices">
        <div class="card-body">
          <h4 class="box-title">Generateur de factures</h4>

          <p> Outil qui permet de générer des factures de vente selon le type de vente que l’on réalise: Pro/Particulier - EU/Hors EU - Service/Objet - TVA sur marge/TVA normale

          </p>
        </div> <!-- /.table-stats -->
      </div>
    </div> <!-- /.card -->
  </div>
</div>
