<div style="opacity:0">
<div class="container" style="padding-top:20px;" id="id" >
  <p class="c7"><span
    style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 185.50px; height: 50.51px;"><img
    alt="" crossorigin="anonymous"
    src="https://cdn.shopify.com/s/files/1/0006/4353/0817/files/COPROOM_BOXLOGO.png?7616672809349822695"
    style="width: 185.50px; height: 50.51px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);"
    title=""></span></p>
  <p class="c7"><span
    style=" display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 185.50px; height: 50.51px;"><qrcode [qrdata]="'https://sell.cop-room.com/'+id" [size]="256" [level]="'M'" style="margin:auto"></qrcode>
</span></p>
</div>
</div>
